# Виртуальное окружение (никогда не пушим чужие библиотеки)
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Секреты и ключи (ОЧЕНЬ ВАЖНО!)
.env

# Локальная база данных (у каждого сервера должна быть своя)
*.db
*.sqlite
*.sqlite3

# Файлы операционной системы и редакторов кода
.DS_Store
.vscode/
.idea/